[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
	branch = 2025.08.x
	shallow = true
[submodule "br2rauc"]
	path = br2rauc
	url = https://github.com/edgehog-device-manager/br2rauc
[submodule "edgehog-buildroot-packages"]
	path = edgehog-buildroot-packages
	url = https://github.com/edgehog-device-manager/edgehog-buildroot-packages
